<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login with Google</title>
</head>
<body>
<h1>Welcome, <span th:text="${username}"></span>!</h1>
<!-- Google Login Button -->
<div id="google-button">
    <a href="/oauth2/authorization/google">
        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
             alt="Google Login">
    </a>
</div>
<!-- Link to /users -->
<div id="users-link">
    <a href="/users">Go to Users</a>
</div>
<!-- Information message -->
<div th:if="${!isUsersPage}">
    <p>This is not the /users page.</p>
</div>
</body>
</html>